<!DOCTYPE html>
<html class="x-admin-sm" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>注册页面</title>
    <meta content="webkit|ie-comp|ie-stand" name="renderer">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="no-siteapp" http-equiv="X-UA-Compatible"/>
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <script charset="utf-8" th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
    <script charset="utf-8" th:src="@{/layui/layui.js}" type="text/javascript"></script>
</head>
<body class="register-bg">
<div class="login layui-anim layui-anim-up">
    <div class="message">用户注册</div>
    <div id="darkbannerwrap"></div>
    <form class="layui-form" method="post">
        <input autocomplete="off" class="layui-input" lay-verify="required" name="username" placeholder="用户名" type="text">
        <hr class="hr15">
        <input autocomplete="off" class="layui-input" lay-verify="required" name="password" placeholder="密码" type="password">
        <hr class="hr15">
        <input autocomplete="off" class="layui-input" lay-verify="required" name="rePassword" placeholder="确认密码" type="password">
        <hr class="hr15">
        <input lay-filter="register" lay-submit style="width:100%;" type="submit" value="注册">
        <hr class="hr20">
    </form>
</div>
<script charset="UTF-8" type="text/javascript">
    layui.use(['form', 'layer'],
        function () {
            var form = layui.form,
                layer = layui.layer;

            //监听提交
            form.on('submit(register)',
                function (data) {

                    if (data.field.password !== data.field.rePassword) {
                        layer.msg("请输入两次相同的密码！",{icon:5});
                        return false;
                    }

                    var user = {};
                    user["username"] = data.field.username;
                    user["password"] = data.field.password;
                    user.role = 1;

                    //发异步，把数据提交给java
                    $.ajax({
                        url: "/user/register",
                        data: JSON.stringify(user),
                        dataType: "json",
                        type: "post",
                        contentType: "application/json",
                        success: function (result) {
                            if (result.code === 200) {
                                layer.msg("注册成功", {icon: 6, time: 500});
                                location.href = "/index";

                            } else {
                                layer.alert(result.msg);
                            }
                        }
                    });

                    return false;
                });

        });

    /*    //提交
        $("#submits").click(function () {
            var user = {};
            user["username"] = $("[name=username]").val();
            user["userpassword"] = $("[name=userpassword]").val();
            user["userphone"] = $("[name=userphone]").val();
            user["useraddress"] = $("[name=useraddress]").val();
            user.usertype = 1;
            $.ajax({
                url: "/user/adduser",
                type: "post",
                data: JSON.stringify(user),
                dataType: "json",
                contentType: "application/json",
                success: function (data) {
                    if (data.code == 200) {
                        alert("注册成功");
                        location.href = "/user/gotologin";
                    } else {
                        alert("注册失败");
                    }
                }
            });
        });*/
</script>