<!DOCTYPE html>
<html class="x-admin-sm" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <script charset="utf-8" th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
    <script charset="utf-8" th:src="@{/layui/layui.js}" type="text/javascript"></script>
    <style>
        .layui-layer-dialog {
            top: 40px !important;
        }
    </style>
</head>
<body>
<!--<div style="margin: 30px auto; text-align: center">
    上传成功！<span id="time">3</span>s后跳回<a target="_top" th:href="@{/index}">首页</a>
</div>-->
</body>
<script th:inline="javascript">

    layui.use(['layer'], function () {
        var fileRatio = [[${fileRatio}]];
        var path = [[${returnPath}]];
        var IS_PASS = [[${IS_PASS}]];

        //如果通过了就直接保存数据库，不需要下载返回结果报告

        if (IS_PASS) {
            top.location.href = "/index";
        } else {
            var layer = layui.layer;
            layer.confirm("论文没有通过，查重率是：" + fileRatio + "，是否下载论文检测报告？", function () {
                window.open('/paper/downReturnReport?path=' + path);
                top.location.href = "/index";
            }, function () {
                top.location.href = "/index";
            });
        }
    });

</script>
</html>